@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.clients {
  margin-top: 4rem;
}

.clients__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.clients__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #ef5537;
  text-align: center;
}

.clients__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #54387f;
  text-align: center;
  margin-top: 0.5rem;
}

.clients__company {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
}

.clients__label {
  margin-left: 1rem;
}

.clients__label:nth-child(1) {
  margin: 0;
}

.clients__selectors {
  margin: 1rem auto 0;
  width: -moz-max-content;
  width: max-content;
}

.description-card {
  display: flex;
  flex-direction: column;
}

.description-card__count {
  margin: 2rem auto;
  font-weight: 600;
  font-size: 8rem;
  line-height: 10.9rem;
  color: #54387f;
  text-align: center;
}

.description-card__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2a2a2a;
  text-align: center;
}

.description-card__text {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #6a6a6a;
  text-align: center;
}

.description {
  margin-top: 4rem;
}

.description__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
}

.description__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #ef5537;
  text-align: center;
}

.description__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #54387f;
  text-align: center;
  margin-top: 1.8rem;
}

.description__card {
  margin-top: 5rem;
}

.description__selectors {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.examples-card {
  padding-bottom: 0.3rem;
}

.examples-card__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2a2a2a;
  line-height: 2.7rem;
  margin-top: 4rem;
  letter-spacing: -0.1296rem;
}

.examples-card__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #6a6a6a;
  margin-top: 1.2rem;
  line-height: 2.7rem;
  letter-spacing: -0.034rem;
}

.examples-card__link {
  display: inline-block;
  padding: 1rem;
  margin-top: 2.5rem;
  background: #ef5537;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

.examples {
  margin-top: 4rem;
  background-color: #f5f5f5;
}

.examples__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
}

.examples__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #ef5537;
  text-align: center;
  margin-top: 1rem;
}

.examples__list {
  margin-top: 4rem;
}

.examples__card:nth-child(n+2) {
  margin-top: 5rem;
}

.feedback-card {
  border: 1.5px solid #EBEBEB;
  border-radius: 7px;
  padding: 2rem;
  padding-bottom: 4rem;
}

.feedback-card__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2a2a2a;
  text-align: left;
  margin-top: 2rem;
}

.feedback-card__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #6a6a6a;
  text-align: left;
  margin-top: 1rem;
}

.feedback {
  margin-top: 4rem;
}

.feedback__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
}

.feedback__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #ef5537;
  text-align: center;
}

.feedback__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #54387f;
  text-align: center;
  margin-top: 0.5rem;
}

.feedback__card {
  margin-top: 5rem;
}

.feedback__selectors {
  margin: 3rem auto 0;
  display: flex;
}

.footer {
  background-color: #6a6a6a;
}

.footer__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2.5rem 3rem;
  background-color: #2a2a2a;
}

.form__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  text-align: center;
  margin-top: 2rem;
}

.form__label {
  width: 100%;
}
.form__label > input, .form__label > textarea {
  width: 100%;
  margin-top: 2rem;
}
.form__label:nth-child(-n+3) {
  width: 50%;
}

.form__submit {
  margin-top: 2rem;
  margin-right: auto;
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem;
}
.gallery-list > li {
  width: -moz-max-content;
  width: max-content;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 4rem;
}

.gallery__list {
  margin-top: 4rem;
}

.gallery__link {
  margin: 4rem auto 0;
  padding: 1rem 4rem;
  border: 0.1rem solid #ef5537;
  border-radius: 20rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #ef5537;
  text-decoration: none;
}

.header {
  margin-top: 2.7rem;
}

.header__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 1.5rem;
  justify-content: space-between;
}

.home {
  margin-top: 3.5rem;
}

.home__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
}

.home__title {
  font-size: 3.4rem;
  line-height: 4.6rem;
}

.home__title_highlight {
  color: #ef5537;
}

.home__text {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.portfolio {
  margin-top: 4rem;
}

.portfolio__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.portfolio__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #ef5537;
  text-align: center;
}

.portfolio__text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #54387f;
  text-align: center;
  margin-top: 0.5rem;
}

.review-card__text {
  padding: 3rem;
  background: #54387f;
  box-shadow: 40px 60px 60px -20px rgba(0, 0, 0, 0.176);
  border-radius: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #ffffff;
}

.review-card__name {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 0.05rem;
  color: #000000;
}

.review-card__post {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: -0.016rem;
  color: #000000;
  opacity: 0.6;
}

.reviews {
  margin-top: 4rem;
  background-image: url(/img/review-background.png);
  background-position: bottom;
  background-size: cover;
  padding-bottom: 14rem;
}

.reviews__wrapper {
  display: flex;
  max-width: 390px;
  margin: 0 auto;
  flex-direction: column;
}

.reviews__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #ef5537;
  text-align: center;
}

.reviews__list {
  margin-top: 4rem;
}

.review__arrows {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
}

.target {
  display: flex;
  flex-direction: column;
}

.target__title {
  margin-top: 7.5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 4.2rem;
  text-align: center;
}

.target__link {
  display: inline-block;
  padding: 1rem;
  margin-top: 2.5rem;
  background: #ef5537;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
  margin: 1.2rem auto 0;
}

.home-img {
  position: relative;
}

.home-img__play-img {
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
}/*# sourceMappingURL=style.css.map */