body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}
body.lock {
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.skip-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  background: #F498AD;
  transform: translateY(-2000px);
}

.skip-link:focus {
  transform: translateY(0);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5rem 3rem;
  background-color: #2a2a2a;
}

.form__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.form__label {
  margin-top: 2rem;
  width: 100%;
}
.form__label:nth-child(-n+3) {
  width: calc(50% - 2rem);
}

.form__name, .form__requirement, .form__number, .form__email, .form__surname {
  width: 100%;
  background-color: #2a2a2a;
  border: none;
  border-bottom: 1px solid white;
  padding: 1.4rem 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
}
.form__name::-moz-placeholder, .form__requirement::-moz-placeholder, .form__number::-moz-placeholder, .form__email::-moz-placeholder, .form__surname::-moz-placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.form__name::placeholder, .form__requirement::placeholder, .form__number::placeholder, .form__email::placeholder, .form__surname::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #ffffff;
}

.form__requirement {
  resize: none;
}

.form__submit {
  padding: 1.2rem;
  margin-top: 2rem;
  margin-right: auto;
  background-color: #2a2a2a;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  transition: transform 0.1s ease-in;
  line-height: 2rem;
}
.form__submit:active {
  transform: scale(0.9);
}
.form__submit[disabled] {
  transform: scale(1);
}
.form__submit:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.header__wrapper {
  display: flex;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 390px) {
  .header__wrapper {
    max-width: 39rem;
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .header__wrapper {
    max-width: 57.6rem;
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header__wrapper {
    max-width: 120rem;
    padding: 0 0.5rem;
  }
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.todo__wrapper {
  display: flex;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 390px) {
  .todo__wrapper {
    max-width: 39rem;
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .todo__wrapper {
    max-width: 57.6rem;
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .todo__wrapper {
    max-width: 120rem;
    padding: 0 0.5rem;
  }
}
.todo__form {
  position: relative;
}
.todo__counter {
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  right: 37px;
}
.todo__text {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2a2a2a;
  margin-top: 1rem;
}
@media only screen and (min-width: 1200px) {
  .todo__text {
    font-size: 4rem;
    line-height: 5.4rem;
  }
}
.todo__post {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid;
}
.todo__post-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #54387f;
  text-align: center;
  color: black;
  text-align: left;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .todo__post-text {
    margin-top: 0.8rem;
    font-size: 3.2rem;
    line-height: 4.4rem;
  }
}
.todo__post-date {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #6a6a6a;
  text-align: right;
}

.form {
  margin-top: 2rem;
  flex-direction: column;
}
.form__requirement {
  margin-top: 2rem;
}
.form__submit:disabled {
  opacity: 0.5;
}
.form__requirement::-moz-placeholder {
  opacity: 0.5;
}
.form__requirement::placeholder {
  opacity: 0.5;
}/*# sourceMappingURL=vue.css.map */