@use "variables" as *;
@mixin wrapper($display: flex, $maxwidth: 39rem) {
  display: $display;
  max-width: $maxwidth;
  margin: 0 auto;
  @media (min-width: 1200px) {
    max-width: 120rem;
  }
}

@mixin title() {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: color(primaryTitleColor);
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 4.6rem;
    line-height: 6.3rem;
  }
}
@mixin subTitle() {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: color(subtitleColor);
  text-align: center;
  @media (min-width: 1200px) {
    margin-top: 0.8rem;
    font-size: 3.2rem;
    line-height: 4.4rem;
  }
}

@mixin secondTitle() {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: color(secondTitleColor);
  @include media(min, xl) {
    font-size: 4rem;
    line-height: 5.4rem;
  }
}

@mixin desc() {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: color(primaryDescColor);
}
@mixin linkBtn() {
  display: inline-block;
  padding: 1rem;
  margin-top: 2.5rem;
  background: color(primaryTitleColor);
  border-radius: 8px;
  color: color(secondDescColor);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
}
@mixin footerTitle() {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.5rem;
  color: color(secondDescColor);
}
@mixin footerText() {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: color(footerTextColor);
}
$sizes: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}
