@use "../utils/mixin" as *;

// .company {
// }
.company__title {
  @include footerTitle();
}
.company__list {
  margin-top: 2rem;
  @include media(min, xl) {
    .company__item + .company__item {
      margin-top: 2rem;
    }
  }
}
.company__item {
}
.company__link {
  @include footerText();
  text-decoration: none;
  @include media(min, xl) {
    font-weight: 400;
  }
}
