@use "../utils/mixin" as *;
@use "../utils/variables" as *;

.description {
  margin-top: 4rem;
  @include media(min,xl){
    margin-top: 6rem;
  }
  padding-bottom: 3rem;
}
.description__wrapper {
  @include wrapper();
  flex-direction: column;
}
.description__title {
  @include title();
}
.description__text {
  @include subTitle();
  margin-top: 1.8rem;
}
.description__list {
  margin-top: 5rem;
  @include media(min, xl){
    margin-top: 7.6rem;
  }
}
.description__selectors {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  @include media(min,xl){
    display: none;
  }
}
// .description__selector {
// }
