@use "../utils/mixin" as *;
@use "../utils/variables" as *;

.description {
  margin-top: 4rem;
}
.description__wrapper {
  @include wrapper();
  flex-direction: column;
}
.description__title {
  @include title();
}
.description__text {
  @include subTitle();
  margin-top: 1.8rem;
}
.description__card {
  margin-top: 5rem;
}
.description__selectors {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
// .description__selector {
// }
