@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../utils/function" as *;

.feedback {
  margin-top: 4rem;
}
.feedback__wrapper {
  @include wrapper();
  flex-direction: column;
}
.feedback__title {
  @include title();
  margin-top: 4rem;
}
.feedback__text {
  @include subTitle();
  margin-top: 0.5rem;
  @include media(min,xl){
    margin-top: 2rem;
  }
}
.feedback__card {
  margin-top: 5rem;
}
.feedback__selectors {
  margin: 3rem auto 0;
  display: flex;
  gap: 1rem;
  @include media(min,xl){
    display: none;
  }
}
.feedback__label {
  margin-left: 1rem;
  display: inline-flex;
}

.feedback__selector{
  display: none;
}

.feedback__selector:checked+span{
  background-color: #EF5537;
}
.feedback__selector+span {
  flex: 0 0 1rem;
  height: 1rem;
  background-color: #CACACA;
  border-radius: 50%;
}