@use "../utils/mixin" as *;
@use "../utils/variables" as *;
.feedback-card {
  border: 1.5px solid #ebebeb;
  border-radius: 7px;
  padding: 2rem;
  padding-bottom: 4rem;
}
// .feedback-card__img {
// }
.feedback-card__title {
  @include secondTitle();
  text-align: left;
  margin-top: 2rem;
}
.feedback-card__text {
  @include desc();
  text-align: left;
  margin-top: 1rem;
}
