@use "../utils/mixin" as *;
@use "../utils/variables" as *;

.feedback {
  margin-top: 4rem;
}
.feedback__wrapper {
  @include wrapper();
  flex-direction: column;
}
.feedback__title {
  @include title();
  margin-top: 4rem;
}
.feedback__text {
  @include subTitle();
  margin-top: 0.5rem;
  @include media(min,xl){
    margin-top: 2rem;
  }
}
.feedback__card {
  margin-top: 5rem;
}
.feedback__selectors {
  margin: 3rem auto 0;
  display: flex;
}
.feedback-list{
  margin-top: 6rem;
}
// .feedback__label {
// }
// .feedback__selector {
// }
