@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../utils/function" as *;

.footer {
  background-color: color(primaryDescColor);
}
.footer__wrapper {
  @include wrapper();
  flex-direction: column;
  @include media(min, xl) {
    display: grid;
    padding-top: 6rem;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
  }
}
.footer__company {
  margin-top: 2rem;
  @include media(min, xl) {
    margin: 0;
  }
}
.footer__industries {
  margin-top: 3rem;
  @include media(min, xl) {
    margin: 0;
  }
}
.footer__contact {
  margin-top: 5rem;
  @include media(min, xl) {
    margin: 0;
    grid-column: 5/6;
  }
}
.footer__socials {
  margin-top: 2rem;
}
.footer__copyright {
  @include footerCopy();
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  @include media(min, xl) {
    margin-top: auto;
    grid-row: 2/3;
    font-weight: 400;
  }
}
.footer__rights {
  @include footerCopy();
  line-height: 2rem;
  color: color(secondDescColor);
  margin-bottom: 0.5rem;
  @include media(min, xl) {
    margin-top: auto;
    grid-column-end: -1;
    grid-row: 2/3;
    font-weight: 400;
  }
}
