@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../utils/function" as *;

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5rem 3rem;
  background-color: color(secondTitleColor);
}
.form__title {
  color: color(secondDescColor);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  width: 100%;

  text-align: center;
  margin-top: 2rem;
}
.form__label {
  margin-top: 2rem;
  width: 100%;
  &:nth-child(-n + 3) {
    width: calc(100% / 2 - 2rem);
  }
}

.form__name {
  @include FormInput();
}
.form__surname {
  @extend .form__name;
}
.form__email {
  @extend .form__name;
}
.form__number {
  @extend .form__name;
}
.form__requirement {
  @extend .form__name;
  resize: none;
}
.form__submit {
  padding: 1.2rem;
  margin-top: 2rem;
  margin-right: auto;
  background-color: color(secondTitleColor);
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: color(secondDescColor);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  transition: transform 0.1s ease-in;
  line-height: 2rem;
  &:active {
    transform: scale(0.9);
  }
  &[disabled]{
    transform: scale(1);
  }
}
