@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../utils/function" as *;

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5rem 3rem;
  background-color: color(secondTitleColor);
}
.form__title {
  color: color(secondDescColor);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  width: 100%;

  text-align: center;
  margin-top: 2rem;
}
.form__label {
  width: 100%;
  & > input,
  & > textarea {
    width: 100%;
    margin-top: 2rem;
    background-color: color(secondTitleColor);
    border: none;
    border-bottom: 1px solid white;
    padding: 1.4rem 0;
    color: color(secondDescColor);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  &:nth-child(-n + 3) {
    width: calc(100% / 2 - 2rem);
  }
  & > input::placeholder,
  & > textarea::placeholder {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: color(secondDescColor);
  }
}

// .form__name {
// }
// .form__surname {
// }
// .form__email {
// }
// .form__number {
// }
.form__requirement {
  resize: none;
}
.form__submit {
  padding: 1.2rem;
  margin-top: 2rem;
  margin-right: auto;
  background-color: color(secondTitleColor);
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: color(secondDescColor);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}
