@use "../utils/mixin" as *;
@use "../utils/function" as *;

.header {
  margin-top: 2.7rem;
  @media (min-width: 1200px) {
    margin-top: 2rem;
    padding: 2rem 0;
  }
}
.header__wrapper {
  @include wrapper();
  padding: 0 1.5rem;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  width: 100%;
}
.header__nav {
  position: relative;
  z-index: 1;
}
.header__button{
  margin-left: auto;
  border: none;
  background-color: transparent;
  @include media(min, xl) {
    display: none;
  }
}
.header__burger {
  @include media(min, xl) {
    display: none;
  }
  &_active {
    .header__burger-line1 {
      animation: burger__line1--animation 0.3s forwards;
    }
    .header__burger-line2 {
      animation: burger__line2--animation 0.3s forwards;
      opacity: 0;
    }
    .header__burger-line3 {
      animation: burger__line3--animation 0.3s forwards;
    }
  }
}
@keyframes burger__line1--animation {
  100% {
    transform: rotate(45deg) translateX(7px) translateY(-4px);
  }
}
@keyframes burger__line2--animation {
  100% {
    opacity: 0;
  }
}
@keyframes burger__line3--animation {
  100% {
    transform: rotate(-45deg) translateY(-8px) translateX(-13px);
  }
}
