@use "../utils/variables" as *;
@use "../utils/mixin" as *;
@use "../utils/function" as *;


.review-card__quotes {
  display: none;
  @include media(min,xl){
    display: block;
  }
}
.review-card__text {
  display: flex;
  gap: 2rem;
  padding: 3rem;
  background: #54387f;
  box-shadow: 40px 60px 60px -20px rgba(0, 0, 0, 0.176);
  border-radius: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: color(secondDescColor);
  @include media(min,xl){
    margin: 0 auto;
    max-width: 60rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
    padding-right: 8rem;
    font-size: 2rem;
  }
}
.review-card__name {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 0.05rem;

  color: #000000;
}
.review-card__post {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: -0.016rem;

  color: #000000;

  opacity: 0.6;
}
