@use "../utils/mixin" as *;

.target {
  display: flex;
  flex-direction: column;
  
}
.target__title {
  margin-top: 7.5rem;
  @include secondTitle();
  font-size: 1.6rem;
  line-height: 4.2rem;
  text-align: center;
}
.target__link {
  @include linkBtn();
  margin: 1.2rem auto 0;
}
