@use "../utils/mixin" as *;

.tel {
}
.tel__title {
  @include footerTitle();
}
.tel__link {
  @include footerText();
  margin-top: 1rem;
  font-weight: 700;
  line-height: 4rem;
  text-decoration: none;
}
